<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div th:each="item : ${items}" style="border: 1px solid black; cursor: pointer;" th:onclick="itemDetail([[${item.id}]])">
    <img th:src="@{/image/} + ${item.img}" alt="상품대표이미지" style="width: 80px; height: 80px;">
    <div th:text="${item.title}"></div>
    <div th:text="${item.price}"></div>
</div>

<script>
    function itemDetail(id) {
        location.href = `/item/${id}`;
    }
</script>
</body>
</html>