<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uglymarket.mapper.ItemMapper">
    <insert id="insertItem" parameterType="com.uglymarket.domain.Item" useGeneratedKeys="true" keyProperty="id">
        insert into item (member_id, category_id, title, price, content, img, sale_yn, view_cnt, create_date, update_date)
        values (#{memberId}, #{categoryId}, #{title}, #{price}, #{content}, #{img}, 'N', 0, current_timestamp(), null);
    </insert>

    <select id="selectItemById" parameterType="long">
        select * from item where id = #{id};
    </select>

    <update id="updateItem" parameterType="com.uglymarket.domain.Item">
        update item set category_id = #{categoryId}, title = #{title}, price = #{price}, content = #{content}, img = #{img}, update_date = current_timestamp()
        where id = #{id};
    </update>

    <delete id="deleteItem" parameterType="long">
        delete from item where id = #{id};
    </delete>

    <select id="selectItems" resultType="com.uglymarket.domain.Item">
        select * from item;
    </select>

    <update id="updateViewCnt" parameterType="long">
        update item set view_cnt = view_cnt + 1 where id = #{id};
    </update>

</mapper>