<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form name="loginForm">
    <div>
        <span>아이디</span>
        <input type="text" name="username">
    </div>
    <div>
        <span>비밀번호</span>
        <input type="password" name="password">
    </div>
    <div>
        <button onclick="sendLoginForm()">로그인</button>
        <a href="/member/create">회원가입</a>
    </div>
</form>

<script>
    function sendLoginForm() {
        const loginForm = document.loginForm;

        loginForm.action = '/member/login';
        loginForm.method = 'post';
        loginForm.submit();
    }

</script>
</body>
</html>